@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .para {
    font-size: 14px;
  }

  .viewin {
    width: 100%;
  }

  .viewinin {
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .viewin {
    width: 50%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .viewin {
    width: 33.33%;
  }
}

.viewin{
  transition: transform 0.5s;
}

.viewinin:hover{
  filter: brightness(90%);
}

